<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <div class="card">
        <h2>Welcome Back 👋</h2>

        <form action="/dashboard" method="get">

            <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit">Login</button>
        </form>

        <p class="link">
            New user? <a href="/register">Create account</a>
        </p>
    </div>
</div>
</body>
</html>